<div class="container-fluid mt-5 contact-style" id="contactid">
         <div class="row">
             <div class="col-md-6 col-12 mx-auto">
                 <h1 class="text-center main-heading"> CONTACT US</div>
                 <p class="text-center sub-heading"> We will be happy to help to you</p>
                 <div class="row">
                     <div class="col-md-6 col-12 mx-auto">
      <form action="/contact" method="POST">
  <div class="form-group">
    <label for="fullname">FULL NAME</label>
    <input type="text" class="form-control" id="fullname" name="name" placeholder="Full name">
   
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">EMAIL ADDRESS</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Enter email">
    
  </div>
  
  
   <div class="form-group">
    <label for="con">ADDRESS</label>
    <input type="text" class="form-control" id="connn" name="address" placeholder="address">
    
   </div>
  
  <div class="form-group">
    <label for="e1">SERVICE AND MESSAGE</label>
    <input type="text" class="form-control" id="e1" name ="message" placeholder="Enter message">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
    </div>
      </div>
     </div>
     </div>