  <div class="container-fluid mt-5"  id="servicesid">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
          <h1 class= "text-center main-heading">OUR SERVICES</h1>
            <p class="text-center sub-heading"> Make your life easy with us</p>
              <div class="card-group">
         <div class="card">
     <div class="card bg-primary text-white">
    <div class="card-body">
      <h5 class="card-title">BABY SITTER</h5>
      <p class="card-text">Looking after your child like our own. A nanny for your family that can give care as a live-in, part-time, full-time, daytime, overnight, and more.Charges are accordingly</p>
    </div>
    </div>
  </div>
  <div class="card">
     <div class="card  bg-danger text-white">
    <div class="card-body">
      <h5 class="card-title">HOUSE CLEANING</h5>
      <p class="card-text">Everyone loves a clean house but not everyone loves cleaning a house. Now, when you want your home (or any particular part of your home) to be spotless, Contact us</p>
     </div>
    </div>
  </div>
  <div class="card">
    <div class="card  bg-success text-white">
    <div class="card-body">
      <h5 class="card-title">SALON AT HOME</h5>
      <p class="card-text">Best Beauty expert at your home . We will provide well trained beauty professionals for beauty services at home including Facial, Clean Up, Bleach, Waxing,Pedicure, Manicure, etc.</p>
    </div>
    </div>
  </div>
</div>
  <div class="card-group">
  <div class="card">
    <div class="card bg-warning text-white">
    <div class="card-body">
      <h5 class="card-title">SECURITY SERVICE</h5>
      <p class="card-text">Get Trusted and Background verified Watchman Security Services for all your safety needs. Hire experienced, security guards  at affordable charges.Charges are according to type of services </p>
    </div>
    </div>
  </div>
  <div class="card">
    <div class="card  bg-secondary text-white">
    <div class="card-body">
      <h5 class="card-title">DRIVER</h5>
      <p class="card-text">Hire Car Drivers, Book Service, 24x7 Assistance, FASTag, Renew Insurance and More!. Back And For A Lot To Go.Enjoy long pleasant and relaxing services at affordable prices.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card  bg-info text-white">
    <div class="card-body">
      <h5 class="card-title">COOK AND MAID</h5>
      <p class="card-text">We have an adept and efficient team of Cooking Maids specialized in making delicious food. We provide these facilities to our clients keeping in mind their budget and requirement. </p>
      </div>
    </div>
  </div>
</div>
                    
            </div>
          </div>
        </div>
        </div>
